In [1]:
import pandas as pd
import pickle
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.model_selection import train_test_split

In [2]:
filename = 'data/temp_data/csv_data_preprocessed.pickle'
with open(filename, 'rb') as handle:
    df = pickle.load(handle)

df.head()

,user_id,target,location_population,location_from_population,daily_commute,friends_number,education,hobby_3dprinting,hobby_acting,hobby_airsports,...,occupation_teachingprofessionals,relationship_divorced,relationship_inrelationship,relationship_married,relationship_marriedwithkids,relationship_single,card_American Express,card_Mastercard,card_Revolut,card_Visa
0,0,1.0,0.012442,0.012381,0.464646,0.316640,NaN,0,0,0,...,1,0,0,0,0,1,0,0,0,1
1,1,0.0,0.009947,0.009885,0.555556,0.392569,NaN,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,1.0,0.002321,0.002258,0.909091,0.308562,0.4,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,3,0.0,0.199298,0.199248,0.888889,0.264943,0.4,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,4,0.0,0.000871,0.304888,0.404040,0.192246,0.8,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [3]:
""" split for train and test"""

train = df.iloc[:4000,:]
x_train = train.drop(columns=['target', 'user_id'])
y_train = train['target']

test = df.iloc[4000:,:]
x_test = test.drop(columns=['target', 'user_id'])

In [4]:
""" approach 1: Gradient boosting classifier.
I use this particular method because:
- Gradient boosting is known to be good classification method
- it handles nans.
"""
pass

In [5]:
reg = HistGradientBoostingClassifier()

In [6]:
""" cross validation """
CV_x_train, CV_x_test, CV_y_train, CV_y_test = train_test_split( x_train, y_train, test_size=0.2, random_state=0)
clf = reg.fit(CV_x_train, CV_y_train)
clf.score(CV_x_test, CV_y_test)

0.86375

In [7]:
""" fit """
reg.fit(x_train, y_train)
pass

In [8]:
""" predict """
y_pred_prob = reg.predict_proba(x_test)
y_pred = reg.predict(x_test)

In [12]:
prediction = pd.DataFrame(y_pred_prob[:,1], columns=['probability_of_one']).join(pd.DataFrame(y_pred, columns=['target']))
prediction.index.name='user_id'
prediction.head()

         probability_of_one  target
user_id
0                  0.822914     1.0
1                  0.150622     0.0
2                  0.036714     0.0
3                  0.507152     1.0
4                  0.241308     0.0

In [10]:
""" save result"""
prediction.to_csv('result.csv')

In [11]:
# TODO: create cross validation subsets and check how regularization works there.
    # do metrics, check for overfitting, bias, etc.

# TODO: check other algorithms
#   with different normalization methods
#   with different nan handlings